@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 23% 95%; /* #eff1f5 */
    --foreground: 234 16% 35%; /* #4c4f69 */

    --card: 220 23% 95%; /* #eff1f5 */
    --card-foreground: 234 16% 35%; /* #4c4f69 */

    --popover: 220 23% 95%; /* #eff1f5 */
    --popover-foreground: 234 16% 35%; /* #4c4f69 */

    --primary: 266 85% 58%; /* #8839ef */
    --primary-foreground: 220 23% 95%; /* #eff1f5 */

    --secondary: 220 91% 54%; /* #1e66f5 */
    --secondary-foreground: 220 23% 95%; /* #eff1f5 */

    --muted: 223 16% 83%; /* #ccd0da */
    --muted-foreground: 227 12% 71%; /* #acb0be */

    --accent: 231 97% 72%; /* #7287fd */
    --accent-foreground: 220 23% 95%; /* #eff1f5 */

    --destructive: 347 87% 44%; /* #d20f39 */
    --destructive-foreground: 220 23% 95%; /* #eff1f5 */

    --border: 220 21% 89%; /* #dce0e8 */
    --input: 220 21% 89%; /* #dce0e8 */
    --ring: 233 13% 41%; /* #5c5f77 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 21% 15%; /* #1e1e2e */
    --foreground: 226 64% 88%; /* #cdd6f4 */

    --card: 240 21% 15%; /* #1e1e2e */
    --card-foreground: 226 64% 88%; /* #cdd6f4 */

    --popover: 240 21% 15%; /* #1e1e2e */
    --popover-foreground: 226 64% 88%; /* #cdd6f4 */

    --primary: 267 84% 81%; /* #cba6f7 */
    --primary-foreground: 240 21% 15%; /* #1e1e2e */

    --secondary: 217 92% 76%; /* #89b4fa */
    --secondary-foreground: 240 21% 15%; /* #1e1e2e */

    --muted: 231 11% 47%; /* #6c7086 */
    --muted-foreground: 228 17% 64%; /* #9399b2 */

    --accent: 232 97% 85%; /* #b4befe */
    --accent-foreground: 240 21% 15%; /* #1e1e2e */

    --destructive: 350 65% 77%; /* #eba0ac */
    --destructive-foreground: 240 21% 15%; /* #1e1e2e */

    --border: 237 16% 23%; /* #313244 */
    --input: 237 16% 23%; /* #313244 */
    --ring: 227 35% 80%; /* #bac2de */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

